
@{
    Layout = null;
}

<html lang="fr">
<head>
    <title>BoVoyage | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <style>
        .header {
            margin: 0;
            padding: 25px;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
    @RenderSection("SectionStyle", false)
</head>


<body>

    <div class="header" style="text-align: center">
        <div class="container-fluid">
            <h1> BoVoyage </h1>
            <h4 style="font-style: italic"><i> Laissez-vous emmener</i> </h4>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/">BoVoyage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe"></i> Naviguer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "Voyages")">Afficher voyages</a>
                        @*<a class="dropdown-item" href="#">Rechercher</a>*@
                        <a class="dropdown-item" href="@Url.Action("Create","DossierReservations")">Créez réservation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("Contact")"> <i class="fa fa-file"></i>  Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Create","Clients")"><i class="fa fa-user"></i>  Créer un compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")"> <i class="fa fa-info"></i>  A propos</a>
                </li>
            </ul>

                           
                <form class="nav-item dropdown my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-sign-in"></i> Se connecter 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Client</a>
                        <a class="dropdown-item" href="@Url.Action("Login","AuthenticationController")">Conseiller</a>
                    </div>
                </form>
        </div>
    </nav>
    
    @RenderBody()

    <footer class="container-fluid text-center">
        <p> &copy; BoVoyage </p>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>


