
@{
    Layout = null;
}

<html lang="fr">
<head>
    <title>BoVoyage | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .header {
            margin: 0;
            padding: 25px;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
                .carousel-inner img {
            width: 40%; /* Set width to 100% */
            margin: auto;
            height: 40%;
        }
      
    </style>
</head>


<body>

    <div class="header text-center">
        <div class="container-fluid">
            <h1> BoVoyage </h1>
            <h4 style="font-style: italic"> Laissez-vous emmener </h4>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Voyages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Voyages")">Afficher</a> <br>
                            @*<a class="dropdown-item" href="#">Rechercher</a> <br>*@
                            <a class="dropdown-item" href="@Url.Action("Create", "Voyages")">Créer</a><br />
                            <a class="dropdown-item" href="@Url.Action("Delete", "Voyages")">Supprimer</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Client
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Clients")">Afficher</a> <br>
                            @*<a class="dropdown-item" href="#">Rechercher</a> <br>*@
                            <a class="dropdown-item" href="@Url.Action("Create", "Clients")">Créer</a><br />
                            <a class="dropdown-item" href="@Url.Action("Delete", "Clients")">Supprimer</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Destination
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Destinations")">Afficher</a> <br>
                            @*<a class="dropdown-item" href="#">Rechercher</a> <br>*@
                            <a class="dropdown-item" href="@Url.Action("Create", "Destinations")">Créer</a><br />
                            <a class="dropdown-item" href="@Url.Action("Delete", "Destinations")">Supprimer</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Réservation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "DossierReservation")">Afficher</a> <br>
                            @*<a class="dropdown-item" href="#">Rechercher</a> <br>*@
                            <a class="dropdown-item" href="@Url.Action("Create", "DossierReservation")">Créer</a><br />
                            <a class="dropdown-item" href="@Url.Action("Delete", "DossierReservation")">Supprimer</a>

                        </div>
                    </li>

                    <li><a href="@Url.Action("Index","Dashboard",new{area = "BackOffice"})">BackOffice</a></li>

                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-log-in">Se connecter</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Client</a> <br>
                            <a class="dropdown-item" href="#">Commercial</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="container-fluid text-center">
        <p> &copy; BoVoyage </p>
    </footer>

</body>
</html>


