@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>Liste des clients</h2>


<p>
    <a href="@Url.Action("Create")" class="btn btn-info"><i class="fa fa-plus-circle"></i> Ajouter un client</a>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Civilite.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDeNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" style="background-color: white">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Filtrer les résultats
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Chercher par Nom: @Html.TextBox("RechercheParNom")

                        </p>
                        //Faire apparaitre comme datepicker
                        @*<p>
                               Chercher par Date: @Html.TextBox("RechercheParDate", "Renseigner au format DD-MM-YYYY", new { @class = "form-control datepicker" })
                            @*<input type="date" id="RechercheParDate" />*@
                        @*</p>*@
                        <p>
                            Chercher par Ville: @Html.TextBox("RechercheParVille")
                            <input type="submit" />
                        </p>


                    }
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Civilite.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDeNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

</table>
