@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Voyage>

@{
    ViewBag.Title = "Index";
}

<h2>Voyages disponibles</h2>
 @*Pas nécessaire sur la partie web*@
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agence.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarifToutCompris)
        </th>
        <th></th>
    </tr>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" style="background-color: blanchedalmond">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Filtrer les résultats
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Chercher par Pays: @Html.TextBox("RechercheParPays")

                        </p>
                        //Faire apparaitre comme datepicker
                        @*<p>
                               Chercher par Date: @Html.TextBox("RechercheParDate", "Renseigner au format DD-MM-YYYY", new { @class = "form-control datepicker" })
                            @*<input type="date" id="RechercheParDate" />*@
                        @*</p>*@
                        <p>
                            Chercher par Agence: @Html.TextBox("RechercheParAgence")
                            <input type="submit" />
                        </p>


                    }
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agence.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination.Pays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAller)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRetour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacesDisponibles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TarifToutCompris)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Reserver", "Create", "DossierReservations")
                    @*@Html.ActionLink("Reserver", "Create", "DossierReservations", new { id = item.Id })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

</table>
