@model BoVoyageBlandineThomasJonathan.Models.Destination

@{
    ViewBag.Title = "Supprimer";
}

<h2>Voulez-vous supprimer la destination @Model.Continent | @Model.Pays | @Model.Region ?</h2>

<h3>Toute suppression est définitive</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("Index")" class="btn btn-info"><i class="fa fa-chevron-left"></i> Retour à la liste</a> |
        <input type="submit" value="Supprimer" class="btn btn-danger" />

    </div>
    }
</div>
