@model BoVoyageBlandineThomasJonathan.Models.Destination

@{
    ViewBag.Title = "Details";
}

<h2>Details de la destination @Model.Continent | @Model.Pays | @Model.Region</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")" class="btn btn-info"><i class="fa fa-chevron-left"></i> Retour à la liste</a>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-edit"></i> Modifier </a>
</p>
