@model BoVoyageBlandineThomasJonathan.Models.Voyage

@{
    ViewBag.Title = "Details";
}

<h2>Details du voyage</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agence.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agence.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRetour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifToutCompris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifToutCompris)
        </dd>

    </dl>
</div>

<p>
    <a href="@Url.Action("Index")" class="btn btn-info"><i class="fa fa-chevron-left"></i> Retour à la liste</a>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-edit"></i> Modifier </a>
</p>

