@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Voyage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agence.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarifToutCompris)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agence.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.Continent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRetour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacesDisponibles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarifToutCompris)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
